.tablet {
    background: var(--bg);
    padding-top: 100px;
}

.tablet__desc-p1 {
    font-family: var(--GR);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--grey);
    
}
.tablet__desc-p2{
    font-family: var(--GR);
font-size: 38px;
font-weight: 400;
line-height: 48px;
color: white;
width: 607px;
text-align: center;
}
.tablet__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.tablet__img{
    display: flex;
    justify-content: center;
}
.tablet__wrap{
    display: flex;
    gap: 55px;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .tablet__img img{
        width: 668px;
    }
}
@media screen and (max-width:425px){
    .tablet__desc-p2{
        font-size: 16px;
    }
    .tablet__img img{
        width: 400px;
    }
}
@media screen and (max-width:375px){
    .tablet__desc-p2{
        font-size: 14px;
    }
    .tablet__img img{
        width: 300px;
    }
}
@media screen and (max-width:320px){
    .tablet__desc-p2{
        font-size: 12px;
    }
}